/* 样式重置 */
* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?1smb94');
    src:  url('../fonts/icomoon.eot?1smb94#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?1smb94') format('truetype'),
      url('../fonts/icomoon.woff?1smb94') format('woff'),
      url('../fonts/icomoon.svg?1smb94#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
a {
    color: #000;
    text-decoration: none;
}
li {
    list-style: none;
}